/* eslint-disable no-console */
    .icon {

    color: $button-hover;
    margin-right: 10px;
    }

    .player {
    margin-bottom: 3px;
    padding-right: 6px;

    }

    .backicon {
    position: relative;
    left: 15px;
    top: 15px;
    font-size: 20px;
    color: white;
    margin-bottom: 10px
    }