.a-timer-text1 {
   
    text-align: center;
    margin-top: 40px;
    font-size: 25px;
    color: white;
    margin-left: 25%;
    margin-right: 5%;
    
}
.a-timer-text2 {
   
    text-align: center;
    margin-top: $gutter;
    font-size: 50px;
    color: white;

    
}