.m-landing {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    text-align: center;
    color: white;
    margin-top: 0px;
    z-index : 1 ;

    &__title {
        margin-top: 5px;
        font-size: 40px;
        margin-bottom: 2px;
        
        &_game {
        margin-top: 40px;
        font-size: 40px;
        margin-bottom: 10px;

        }
        

    }

    &__subtitle {
        margin-top: 0px;
        font-size: 30px;
       
    }

    &__subtitle2 {
        margin-top: 0px;
        font-size: 30px;
       
    }

    &__subtitle3 {
        margin-top: 0px;
        font-size: 30px;
        color : $black;
        font-weight: bold;
       
    }

    
    &__subtitle4 {
        margin-top: 0px;
        font-size: 20px;
       
    }

    &__player {
        margin-top: 40px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    text-align: center;
    color: white;
    }

}