<div class="o-landingpage">
    <div class="m-landing">
        <h1 class="m-landing__title_game">You're it   </h1>
         <h1 class="m-landing__subtitle">A game of tag  </h1>
   

    <div class="m-button">
        <button class="m-button__new" ><a class="m-button__link" href="./register.hbs">{{routerLink "register" "New User"}}</a></button>
    </div>
    <div class="m-button">
       <button class="m-button__existing" ><a class="m-button__link" href="">{{routerLink "login" "Existing User"}}</a></button>
    </div>


 </div>
 <canvas>
</canvas>
   <style>
                canvas{
                    position : absolute ; 
                    left : 0 ;
                    top : 0 ;
                    width : 100vw ;
                    height : 100vh ;
                    z-index : 0
                    
                }

                body {
                    overflow : hidden
                }
               
            </style>
</div>



