<div class="o-landingpage">
<a href="#!/homepage"><i class="fas fa-backward backicon"></i> </a>

<div class="m-landing">
                <h1 class="m-landing__title">You're it </h1>
                <h1 class="m-landing__subtitle">Match History </h1>
                <h1 id="count" class="m-landing__subtitle4"></h1>
                <h1 id="ratio" class="m-landing__subtitle4"></h1>
</div>

 <div class="o-historyform-4">

    

 </div>


</div>