<div class="o-landingpage">
<a href="#!/homepage"><i class="fas fa-backward backicon"></i> </a>

<div class="m-landing">
                <h1 class="m-landing__title">You're it </h1>
                <h1 class="m-landing__subtitle">Match History </h1>
</div>

 <div class="o-historyform">

     

     <div class="m-history-game">
         <p class="a-history-game_header">Game ID</p>
        <p class="a-history-result_header">Result</p>
     </div>
     
     <div class="m-history-game">
         <p class="a-history-game">Game 1</p>
        <p class="a-history-result">Lost</p>
     </div>
     
     <div class="m-history-game">
         <p class="a-history-game">Game 2</p>
        <p class="a-history-result">Win</p>
     </div>
     
     <div class="m-history-game">
         <p class="a-history-game">Game 3</p>
        <p class="a-history-result">Win</p>
     </div>
     
     <div class="m-history-game">
         <p class="a-history-game">Game 4</p>
        <p class="a-history-result">Lost</p>
     </div>
    

    






 </div>


</div>