<div class="o-landingpage">
        <div class="m-landing">
                <h1 class="m-landing__title_game">You're it </h1>
                <h1 class="m-landing__subtitle">A game of tag </h1>
       
        <div class="m-button">
        <button class="m-button__new" ><a class="m-button__link" href="./register.hbs">{{routerLink "player" "New Game"}}</a></button>
    </div>
    <div class="m-button">
        <button class="m-button__new" ><a class="m-button__link" href="./register.hbs">{{routerLink "history" "Match History"}}</a></button>
    </div>
     <div class="m-button">
        <button class="m-button__exit" ><a class="m-button__link" href="./register.hbs">{{routerLink "game" "Sign out" "a-button-logoutbutton"}}</a></button>
    </div>

   <div class="a-info">
       <p>Signed in with email : </p>
                        <p id="signedinUser"> </p>
                        <br>
                        <p id="userUID"> </p>
                   
                </div>


 </div>
</div>
