<div class="o-landingpage">
<a id="leave" href="#!/homepage"><i class="fas fa-backward backicon"><span id="leavetext">    Leave game</span></i> </a>

<div class="m-landing">
                <h1 class="m-landing__title">You're it </h1>
                <h1 class="m-landing__subtitle2">Pre Game Lobby</h1>
                <h1 class="m-landing__subtitle3">Waiting for admin to start game...</h1>

</div>
 <div class="o-lobbyform">


    <div class="m-history-game">

        <p class="a-history-game_header4">Team</p>
        <p class="a-history-result_header2">User</p>
    </div>

 </div>
 
    <div class="o-lobbyform2" >
        <p id="start"> <a style="text-decoration:none">Start Game</a></p>
    </div>






</div>