
<div class="o-landingpage">
     <a href="#!/game"><i class="fas fa-backward backicon"></i> </a>
    <div class="m-landing__player">
        <h1 class="m-landing__title">You're it </h1>
    </div>
    <div class="o-loginform">

        <div class="m-input">

            <h1 class="a-input-name">E-mail</h1>
            <input class="a-input-form" type="text" placeholder="mail@gmail.com" id="login_email">
        </div>

        <div class="m-input">

            <h1 class="a-input-name">Password</h1>
            <input class="a-input-form" type="password" placeholder="************" id="login_password">
        </div>

        <div class="m-buttonform">
            <button class="m-buttonform__create"><a class="m-button__link"   href="">
                    {{routerLink "homepage" "Login" "a-button_loginbutton"}}</a></button>
        </div>

        <div class="a-info-forgot">
            <p>Forgot password? </p>
        </div>

        <div class="m-buttonform">
            <button class="m-buttonform__google"><a class="m-button__link" href=""><i class="fab fa-google icon"></i>
                    {{routerLink "homepage" "Sign in with Google" "a-button_loginbuttongoogle"}}</a></button>
        </div>



    </div>


</div>
</div>
