  <div class="o-landingpage">
    <div id="m-menu" class="m-menu">
      <button class="m-button-mapbox-icon-2"><a class="m-button__link"><i class="fas fa-times-circle"
            id="menubutton-2"></i></a>
      </button>
      <p id="mapbox-exit" class="a-mapbox-exit">Exit game</p>
    </div>
    <div id="timer" class="o-timer">





      <!-- <p class="a-timer-text1" id="demo"></p> !-->
      
      <p id="invitecode" class="a-mapbox-exit">Your invite code : </p>
      <p id="players" class="a-mapbox-exit"></p>
      <p id="time" class="a-mapbox-exit"></p>
      <div class="m-button-mapbox">
        <button class="m-button-mapbox-icon"><a><i class="fas fa-ellipsis-v" id="menubutton"></i></a></button>
      </div>


    </div>



    <div id="mapbox" class="m-mapbox"></div>


  </div>