<div class="o-landingpage">
    <a href="#!/homepage"><i class="fas fa-backward backicon"></i> </a>
    <div class="m-landing">
        <h1 class="m-landing__title">Ooops...</h1>
        <h1 class="m-landing__subtitle">It Seems like you lost your connection...</h1> 
    </div>

</div>