<div class="o-landingpage">
    
        <div class="m-landing__player">
                <h1 class="m-landing__title">You're it </h1>
                <h1 class="m-landing__subtitle">Select your player </h1>
       
        <div class="m-button">
        <button class="m-buttonform__player" ><a class="m-button__link" href="./register.hbs"><i class="fas fa-user player"></i>{{routerLink "playergame" "Game as Player"}}</a></button>
    </div>
    <div class="m-button">
        <button class="m-buttonform__player" ><a class="m-button__link" href="./register.hbs"><i class="fas fa-user-shield player"></i>{{routerLink "admingame" "Game as Admin"}}</a></button>
    </div>

    <div class="m-button">
        <button class="m-buttonform__player" ><a class="m-button__link" href="./register.hbs">{{routerLink "homepage" "Exit Game"}}</a></button>
    </div>
   


 </div>
</div>
