<div class="o-landingpage">

    <div class="m-landing__player">
        <h1 class="m-landing__title">You're it </h1>
        <h1 class="m-landing__subtitle">Join a game </h1>


        <div class="o-historyform-3">

            <div class="m-input-2">

                        <h1 class="a-input-name">Enter your invite code</h1>
                        <input class="a-input-form-2" type="text" placeholder="Your invite code" id="input_code">
                </div>

            
        </div>

        <div class="m-button">
            <button id="startgame" class="m-buttonform__adminstart"><a class="m-button__link"
                    >Join Game!</a></button>
        </div>

        <div class="m-button">
            <button id="startgame" class="m-buttonform__admingame"><a class="m-button__link"
                    href="./register.hbs">{{routerLink "player" "Back to player selection"}}</a></button>
        </div>




    </div>