<div class="o-landingpage">
         <a href="#!/game"><i class="fas fa-backward backicon"></i> </a>
        <div class="m-landing">
                <h1 class="m-landing__title">You're it </h1>
                <h1 class="m-landing__subtitle">A game of tag </h1>
        </div>
        <div class="o-registerform">

                <div class="m-input">

                        <h1 class="a-input-name">Name</h1>
                        <input class="a-input-form" type="text" placeholder="Your name" id="input_name">
                </div>

                <div class="m-input">

                        <h1 class="a-input-name">E-mail</h1>
                        <input class="a-input-form" type="email" placeholder="mail@gmail.com" id="input_email">
                </div>

                <div class="m-input">

                        <h1 class="a-input-name">Password</h1>
                        <input class="a-input-form" type="password" placeholder="************" id="input_password1">
                </div>

                <div class="m-input">

                        <h1 class="a-input-name">Repeat Password</h1>
                        <input class="a-input-form" type="password" placeholder="************" id="input_password2">
                </div>



                <div class="m-buttonform">
                        <button class="m-buttonform__create"><a class="m-button__link" href=""> {{routerLink "homepage" "Create User" "a-button_createbutton"}}</a></button>
                </div>

                <div class="a-info">
                        <p>Already have an account? </p>
                        <a class="a-info-login">  {{routerLink "login" "Login here" "a-info-login"}} </a>
                </div>

                

        </div>


</div>

