<div class="o-landingpage">
    <a href="#!/homepage"><i class="fas fa-backward backicon"></i> </a>
    <div class="m-landing">
        <h1 class="m-landing__title">You're it </h1>
        <h1 class="m-landing__subtitle">Game Settings</h1> 
    </div>

    <div class="o-registerform">

        <div class="m-setting">
            <p class="a-setting-name">Dark Mode</p>


            <label class="m-setting__switch">
                <input id="checkbox" class="a-setting-checkbox" type="checkbox">
                <span class="a-setting-slider round"></span>
            </label>


        </div>

    
    </div>

    


















</div>