.o-historyform{
    width: 60%;
    margin: auto;
    background-color: white;
    height: 300px;
    margin-top: 10px;
    border-radius: $gutter;
    box-shadow: 5px 5px 12px #888888;

    &-2 {
        width: 60%;
        margin: auto;
        background-color: white;
        height: 240px;
        margin-top: 10px;
        border-radius: $gutter;
        box-shadow: 5px 5px 12px #888888;
    }
    &-3 {
        width: 60%;
        margin: auto;
        background-color: white;
        height: 120px;
        margin-top: 10px;
        border-radius: $gutter;
        box-shadow: 5px 5px 12px #888888;
    }

    &-4 {
        width: 50%;
        margin: auto;
        background-color: white;
        height: 100px;
        margin-top: 10px;
        border-radius: $gutter;
        box-shadow: 5px 5px 12px #888888;
    }
}