.o-landingpage{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(to bottom right, $dusty, $button-hover); 
}

.o-landingpage-2{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to bottom right, $dusty, $button-hover); 
}

.o-landingpage-dark{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(to bottom right, $dusty, black);
}