.o-lobbyform{
    width: 40%;
    margin: auto;
    margin-bottom: 10px;
    background-color: white;
    height: 300px;
    margin-top: 10px;
    border-radius: $gutter;
    box-shadow: 5px 5px 12px #888888;
}

.o-lobbyform2{
    width: 40%;
    margin: auto;
    margin-top: 10px;
    background-color: $button-hover;
    height: 50px;
    border-radius: $gutter;
    box-shadow: 5px 5px 12px #888888;
}